<div class="container">
  <h3 id="#post_title"><%= @selected_post.title %></h3>
  <p><%= @selected_post.description %></p>
  <form action="/<%= @selected_post.id %>" method="post">
    <textarea name="comment_content" rows="5" cols="40" required></textarea>
    <br>
    <input type="hidden" name="post_id" value="<% @selected_post.id %>">
    <input type="submit" name="comment_submit" value="Comment">
  </form>
  <% @post_comments.each do |comment| %>
    <%= comment.user %>
    <br>
    <%= comment.content %>
  <% end %>
</div>
